.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 0.25fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "main-name"
    "bio"
    "footer";
}

.main-name {
  grid-area: main-name;
}

.bio {
  grid-area: bio;
}

.footer {
  grid-area: footer;
}

ul {
  list-style-type: none;
}
