---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
    {% if page.proj-url-bool == true %}
      <a href="{{ page.proj-url }}" class="large-link" target="_blank">View Project Site <i class="fa fa-external-link"></i></a>
      <!-- <div class="date">Posted {{ page.date | date: "%B %e, %Y" }}</div> -->
    {% endif %}

  <div class="entry">
    {{ content }}
    {% include gallery.html %}
  </div>


  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>
